@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SideNavBar ========================================================= */
.sidebar {
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 0;
  background-color: #439a97;
  z-index: 1000;
}

.sidebar-show {
  animation-name: side-show;
  animation-duration: 0.5s;
}

@keyframes side-show {
   0% {
      transform: translateX(-200px);
   }
}

.bg-semidark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}


.sidebar .logo {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: white;
  padding-left: -20px;
  /* background-color: aliceblue; */
}

.sidebar .sidemenu {
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}

.sidebar .sidemenu li a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 35px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.sidebar .sidemenu li a:hover {
  background-color: #6ac2bf;
  color: black;
  transition: all 0.3s;
}

.sidebar .sidemenu li i {
  padding-right: 10px;
}

.sidebar-active {
  background-color: #6ac2bf;
  color: black !important;
}

/* SideNavBar ==========================================================*/

/* Main================= */
.main {
  /* background-color: pink; */
   margin-left: 232px;

}
/* Main================= */

/* Head =======================================*/
.head {
  position: relative;
  height: 90px;
  padding-top: 20px; 
  padding-left: 10px;
  margin-top: 10px;
  /* ===================================================change */
}

/* Top =======================================*/
.top {
  height: 50px;
  padding-left: 10px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #d8d6d6;
}

.toggle-nav-btn {
  float: left;
  margin-right: 20px;
  border: 1px solid #dddbdb;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
}

.toggle-nav-btn:hover{
  background-color: #f6f8f8;
}

.toggle-nav-btn i {
  color: #439a97;
}

.logo-top {
  height: 40px;
  line-height: 40px;
   color: #439a97;
}

/*Home Page*/
body {
    overflow-x: hidden;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;

}

.col-md-3{
    background-color: #439A97;
    text-align: center;
}

nav{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav-brand{
    /* font-family: 'Bitter'; */
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none; 
}

.nav-brand:hover {
    color:#97DECE;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    text-align: left;
}
nav ul li:first-child{
    margin-top: 20px;
}

.nav-item a{
    /* font-family: 'Poppins'; */
    font-size: 18px;
    color: white;
    margin: 0;
}
  
.nav-link{
    color: white;
    text-decoration: none;
    padding-inline: 90px;
    padding-block: 20px;
}

.nav-link.active{
    font-weight: bolder;
    color: #97DECE;
}

.nav-link:hover{
    color: #439A97;
    background-color: #D9D9D9;
}

.nav-icon{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}

@media (max-width: 767px) {
    .navbar-toggler {
      margin-left: auto;
    }
}  

main ol{
    /* font-family: 'Poppins'; */
    font-size: 20px;
    margin-top: 20px;
}

main {
    margin-bottom: 40px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 10px;
}

h6{
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 0px;
    margin-left: 15px;
}

h5{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
}

#date{
    font-size: 20px;;
    font-weight: bolder;
    color: #439A97;
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.clock-icon, .logout-icon {
    height: 20px;
    width: 20px;
}

.btn-done{
    border-color: #97DECE;
    color: #439A97;
    text-align: center;
    float: right;
    padding-inline: 50px;
    margin-right: 150px;
}

.btn-done:hover{
    background-color:#439A97;
    color: white;
}

.btn-primary{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: medium;
    color: black;
    background-color: #97DECE;
    padding-inline: auto;
    border-color: black;
}

.btn-primary:hover{
    background-color:#439A97;
    color: white;
    border-color: white;
}

.gap-2{
    margin-left: 30px;
}
#add-icon,
#save-icon, 
#upload-icon, 
#delete-icon,
#warning-icon{
    height: 15px;
    width: 15px;
    margin-right: 3px;
}


/*Profile Page*/
.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
  }  

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #439A97;
    margin-top: 20px;
    margin-left: 30px;
  }

.username-text-container{
    margin-left: 40px;
}

#joined{
    color: #B3B3B3;
}

.logout-container{
    /* align-self: flex-end; */
    /* float: right;
    margin-left: auto;
    margin-right: auto; */
    /* align-items: end; */
    /* float: right; */
    margin: 0 30px 0 auto;
    
    
}

#logout{
    color: #439A97;
    text-decoration: none;
}

#logout:hover{
    color: black;
    text-decoration: underline;
}

.form-container{
    display: block;
    height: max-content;
}

.main-row {
    padding : 20px;
}

.form-title{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight:bold;
    background-color: #CBEDD5;
    color: black;
    text-align: center;
    padding: 3px;
    margin-bottom: 30px;
}

.detail-form {
    margin-top: 20px;
    /* margin-left: 40px;
    margin-right: 20px; 
    padding: 40px 0 0 20px;  */
    float: left;
    height: auto;
    width: 100%;
    border: 1px solid #CBEDD5;
    border-radius: 10px;
    padding: 20px;
}
  
label {
display: block;
font-weight: bold;
margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"], 
#select-country,
input[type="file"]{
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
box-sizing: border-box;
margin-bottom: 15px;
}

.btn-update-container, .btn-delete-container{
    text-align: center;
}

#btn-update{
    padding-inline: 100px;
}

.profile-pic-form {
    float: right;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    height: auto;
    width: 90%;
    border: 1px solid #CBEDD5;
    border-radius: 10px;
    padding: 20px;
}

#profile-pic-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #97DECE;
    margin-bottom: 20px;
}

.profile-pic-container {
    text-align: center;
}

#btn-upload{
    padding-inline: 60px;
}
.delete-form {
    float: right;
    margin: 20px 20px 50px 0px;
    height: auto;
    width: 90%;
    border: 1px solid #9E0000;
    border-radius: 10px;
    padding: 20px;
}

#delete-acc{
    color: white;
    background-color: #439A97;
    margin-bottom: 20px;
}

.del-profile-container{
    text-align: left;
}

.btn-delete{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: medium;
    border-color: #9E0000;
    color: #9E0000;
    text-align: center;
    padding-inline: 60px;
}

.btn-delete:hover{
    background-color:#9E0000;
    color: white;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
}

#profile-name{
    margin: 0 0 20px 0;
    background-color: #439A97;
    color: white;
}

#modal h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

#modal p {
    margin-bottom: 40px;
}

#dlt-btn{
    background-color: #9E0000;
    color: white;
    border: 1px solid #9E0000;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
}

#dlt-btn:hover {
    background-color: white;
    color: #9E0000;
}

#cancel-btn {
    color: black;
    border: 1px solid #9E0000;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

#cancel-btn:hover {
    background-color: white;
    color: black;
}

/* home.html css */
.home-view-task {
   
}
.home-view-task li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    border-bottom: 1px solid #d2d0d0;
}

.home-view-task li:first-child {
    padding-top: 0;
}
.home-view-task li div {
    align-items: center;
    padding-left: 3px;
}
.home-view-task li button {
    max-width: 120px;
    padding: 10px;
    text-align: center;
}

.add-new-task {
    width: 40%;
}

@media screen and (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}
