@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}


.search {
  max-width: 180px;
  margin-right: 10px;
}

.analysis {
  max-width: 80px;
  border-radius: 10px;
  background-color: #439a97 ;
  border: none;
  color: white;
}

.search input {
  width: 100%;
  padding-left: 15px;
}
/* SideNavBar ========================================================= */
.sidebar {
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 0;
  background-color: #439a97;
  z-index: 1000;
}

.sidebar-show {
  animation-name: side-show;
  animation-duration: 0.5s;
}

@keyframes side-show {
  0% {
      transform: translateX(-200px);
  }
}

.bg-semidark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}


.sidebar .logo {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: white;
  padding-left: -20px;
  /* background-color: aliceblue; */
}

.sidebar .sidemenu {
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}

.sidebar .sidemenu li a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 35px;
  color: white;
}

.sidebar .sidemenu li a:hover {
  background-color: #6ac2bf;
  color: black;
  transition: all 0.3s;
}

.sidebar .sidemenu li i {
  padding-right: 10px;
.sidebar-active {
  background-color: #6ac2bf;
  color: black !important;
}
}
.sidebar-active {
  background-color: #6ac2bf;
  color: black !important;
}
/* SideNavBar */

/* Main ================================================*/
.main {
  /* background-color: pink; */
  /* margin-left: 202px;
  padding: 0 10px; */
    /* background-color: pink; */
   margin-left: 232px;
   /* margin-top: 10px; */
   margin-right: 0px;
}

/* Top =======================================*/
.top {
  height: 50px;
  padding-left: 10px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #d8d6d6;
}

.toggle-nav-btn {
  float: left;
  margin-right: 20px;
  border: 1px solid #dddbdb;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
}

.toggle-nav-btn:hover{
  background-color: #f6f8f8;
}

.toggle-nav-btn i {
  color: #439a97;
}

.logo-top {
  height: 40px;
  line-height: 40px;
   color: #439a97;
}

/* Head =======================================*/
.head {
  position: relative;
  height: 90px;
  padding-top: 15px; 
  margin-top: 10px;
  /* ===================================================change */
}
.head h1 {
  float: left;
  margin-left: 10px;
}

.head input {
  border: 1px solid #439a97;
  border-radius: 20px;
  outline: none;
  padding-left: 30px;
  padding-bottom: 2px;
  margin-top: 2px;
}

.head .search {
  position: relative;
  float: right;
  margin-top: 5px;
}

.head .search i {
  position: absolute;
  left: 8px;
  top: 7px;
}

.head p {
  display: block;
  background-color: #439a97;
}

.head span {
  position: absolute;
  left: 13px;
  top: 70px;
  font-weight: 700;
}

/* Nav */
.bottom-line {
  border-bottom: 1px solid #ccc;
}
.nav-item a {
  color: black;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #6ac2bf;
  border-bottom: 2px solid #6ac2bf;
}

.navbar-nav {
  width: 100%;
}

.nav-item a:active {
  color: #6ac2bf;
  border-bottom: 2px solid #6ac2bf;
}

.active {
  color: #6ac2bf !important;
  border-bottom: 2px solid #6ac2bf;
}
/* All-task view */
.all-task {
  /* background-color: pink; */
  margin-left: 10px;
}

.all-task .piece {
  /* background-color: pink; */
  height: 200px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.4);
}

.all-task .piece:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.b-red {
  border: 2px solid red;
}

.b-blue {
  border: 2px solid blue;
}

.b-green {
  border: 2px solid green;
}
.task > div {
  margin-top: 20px;
}

/* Task-progress =============================================*/
.task-progress {
  border-top: 1px solid #ccc;
  padding-left: 12px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.task-total-num {
  height: 400px;
}
.task-total-num .row > div {
  height: 200px;
  padding: 5px 25px;
}

.num-piece {
  height: 100%;
  border: 3px solid #439a97;
  border-radius: 30px;
  box-shadow: 0 0 10px -3px #439a97;
}

.pie-chart {
  height: 400px;
  /* border: 2px solid #6ac2bf; */
  padding: 2px 0;
  padding: 0 25px;
}

.pie-chart .pie-col {
  height: 393px;
  border: 3px solid #439a97;
  border-radius: 30px;
  box-shadow: 0 0 10px -3px #439a97;
}
.chart {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(
    red 0deg,
    red 135deg,
    green 136deg,
    green 225deg,
    blue 112deg
  );
  border-radius: 50%;
  margin: 0 auto;
}

.chart::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
}

/* Completion Rate */
.completed-rate .row {
  padding-left: 12px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.completed-rate .row input {
  max-width: 155px;
  border: 1px solid #439a97;
  border-radius: 10px;
  margin: 0 20px;
}
.completed-rate .row button {
  max-width: 120px;
  background-color: #62B6B7;
}

.completed-rate .row button:hover {
    background-color: #439a97;
}
.completed-rate {
  border-top: 1px solid #ccc;
  padding-left: 12px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}

.completed-rate .prio-chart > div {
  position: relative;
  height: 280px;
  margin: 0 20px;
}

.completed-rate .prio-chart {
  padding-left: 12px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid #439a97;
  border-radius: 30px;
  box-shadow: 0 0 10px -3px #439a97;
}

.prio-high {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(
    rgb(107, 221, 107) 0deg,
    rgb(107, 221, 107) 54deg,
    #dc3545 55deg,
    #dc3545 360deg
  );
  background-color: #439a97;
  border-radius: 50%;
  margin: 0 auto;
}

.prio-middle {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(
    rgb(107, 221, 107) 0deg,
    rgb(107, 221, 107) 180deg,
    #ffc107 181deg,
    #ffc107 360deg
  );
  border-radius: 50%;
  margin: 0 auto;
}

.prio-low {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(
    rgb(107, 221, 107) 0deg,
    rgb(107, 221, 107) 313deg,
    green 314deg,
    green 360deg
  );
  border-radius: 50%;
  margin: 0 auto;
}

.percentage {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  color: #439a97;
}

.w::before {
  content: "";
  top: 50%;
  position: absolute;
  transform: translate(-50%, -65%);
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}
/* 111 */
 #nav-1 {
  margin-left: 6em;
  color: #219653;
}

#nav-2 {
  margin-left: 22em;
  color: #ffa500;
}

#nav-3 {
  margin-left: 19em;
  color: #ff0000;
} 
#nav-count-1 {

  color: #219653;
}
#nav-count-2 {

  color: #ffa500;
}
#nav-count-3 {

  color: #ff0000;
}

  /* @media (max-width: 767px) {
    #nav-2 {
      
      margin-top: 1em;
      margin-left: 6em;
    }

    #nav-3 {
    
      margin-top: 1em;
      margin-left: 6em;
    }

    #nav-count-2 {
      margin-left: 0;
      margin-top: 1em;
    }

    
    #nav-count-3 {
      margin-left: 0;
      margin-top: 1em;
    } 
  }*/
  /* 111 */
 @media (max-width: 767px) {
  #nav-2 {
    
    margin-top: 1em;
    margin-left: 6em;
  }

  #nav-3 {
  
    margin-top: 1em;
    margin-left: 6em;
  }

  #nav-count-2 {
    margin-left: 0;
    margin-top: 1em;
  }

  
  #nav-count-3 {
    margin-left: 0;
    margin-top: 1em;
  }


}
  /* .frame-1 {
    align-items: center;
    background-color: #edf0fb;
    border-radius: 1.2rem;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 600;

    height: 100%; 
    justify-content: center;
    letter-spacing: -0.012rem;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 2.5rem; 
  } */
/* 111 */
  .frame-1 {
  align-items: center;
  background-color: #edf0fb;
  border-radius: 1.2rem;
  display: flex;
  flex-shrink: 0;
  font-family: Poppins, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 600;
  height: 1.5rem; 
  justify-content: center;
  letter-spacing: -0.012rem;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 2.5rem; 
}

/* 
  @media only screen and (max-width: 767px) {
    #nav-1 {
      margin-left: 6em;
      color: #219653;
    }
  
    #nav-2 {
      position: relative;
      margin-left: 10em;
      color: #ffa500;
    }
  
    #nav-3 {
      margin-left: 10em;
      color: #ff0000;
    } 
  
  } */
 
  



  /*
  @media (max-width: 768px) {
    .nav-item {
      margin-left: 3em;
    }
  }
  @media (max-width: 576px) {
    .nav-item {
      margin-left: 2em;
    }
  } */

  /* .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  } */
  
  /* section.body-content {
    position: relative;
    background-color: #E6ECF0;
    border-radius: 10px;
    margin: 20px;
    height: 85%;
    width: 100%;
  }
  .container {
    position: relative;
  }   */
  section.body-content {
  position: relative;
  background-color: #E6ECF0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-height: 1000px;
}
.container {
  position: relative;
}  

  .col-xl-4.col-lg-4.col-md-6 {
    margin-bottom: 20px;
    
  }

/*   
  .nav-link {
    padding: 0px 120px;
  } */
  .card {
    margin: 2em;
  }

  .all-task-num {
    padding-left: 15px;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  
  
/* 
  .task-myx {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
    box-sizing: border-box;
    height: 24rem;
    padding: 1.2rem 0;
    width: 100%;
    }
    
    .auto-group-bapn-nPG {
    height: 14rem;
    position: relative;
    width: 28.7rem;
    }
    
    .tasktop-VHg {
    box-sizing: border-box;
    height: 14rem;
    left: 1.2rem;
    padding-bottom: 3.85rem;
    position: absolute;
    top: 0;
    width: 24.2rem;
    }
    
    .user-research-aK8 {
    align-items: center;
    color: #1d2d35;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.1725;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    width: 100%;
    }
    
    .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-aenean-commodo-ligula-eget-dolor-aenean-massa-cum-sociis-natoque--Q3G {
    color: #1d2d35;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1725;
    max-width: 24.2rem;
    }
    
    .taskdivider-SEr {
    background-color: #e6ecf0;
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: 11.4rem;
    width: 28.7rem;
    } */

 .editrow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
}

.editrow>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}