@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}


.search {
  max-width: 180px;
  margin-right: 10px;
}

.analysis {
  max-width: 80px;
  border-radius: 10px;
  background-color: #439a97 ;
  border: none;
  color: white;
}

.search input {
  width: 100%;
  padding-left: 15px;
}
/* SideNavBar ========================================================= */
.sidebar {
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 0;
  background-color: #439a97;
  z-index: 1000;
}

.sidebar-show {
  animation-name: side-show;
  animation-duration: 0.5s;
}

@keyframes side-show {
  0% {
      transform: translateX(-200px);
  }
}

.bg-semidark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}


.sidebar .logo {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: white;
  padding-left: -20px;
  /* background-color: aliceblue; */
}

.sidebar .sidemenu {
  width: 100%;
  margin-top: 30px;
  padding-left: 0;
}

.sidebar .sidemenu li a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 35px;
  color: white;
}

.sidebar .sidemenu li a:hover {
  background-color: #6ac2bf;
  color: black;
  transition: all 0.3s;
}

.sidebar .sidemenu li i {
  padding-right: 10px;
}
.sidebar-active {
  background-color: #6ac2bf;
  color: black !important;
}
/* SideNavBar */

/* Main ================================================*/
.main {
  /* background-color: pink; */
   margin-left: 232px;
   /* margin-top: 10px; */
   margin-right: 0px;
}

/* Top =======================================*/
.top {
  height: 50px;
  padding-left: 10px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #d8d6d6;
}

.toggle-nav-btn {
  float: left;
  margin-right: 20px;
  border: 1px solid #dddbdb;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
}

.toggle-nav-btn:hover{
  background-color: #f6f8f8;
}

.toggle-nav-btn i {
  color: #439a97;
}

.logo-top {
  height: 40px;
  line-height: 40px;
   color: #439a97;
}

/* Head =======================================*/
.head {
  position: relative;
  height: 90px;
  padding-top: 15px; 
  margin-top: 10px;
  /* ===================================================change */
}
.head h1 {
  float: left;
  margin-left: 10px;
}

.head input[type='text'] {
  border: 1px solid #439a97;
  border-radius: 20px;
  outline: none;
  padding-left: 30px;
  padding-bottom: 2px;
  margin-top: 2px;
  padding-top: 0;
  padding-right: 0;
}

.head .search {
  position: relative;
  float: right;
  margin-top: 5px;
}

.head .search i {
  position: absolute;
  left: 8px;
  top: 7px;
}

.head p {
  display: block;
  background-color: #439a97;
}

.head span {
  position: absolute;
  left: 13px;
  top: 70px;
  font-weight: 700;
}

/* Nav */
.bottom-line {
  border-bottom: 1px solid #ccc;
}
.nav-item a {
  color: black;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #6ac2bf;
  border-bottom: 2px solid #6ac2bf;
}

.navbar-nav {
  width: 100%;
}

.nav-item a:active {
  color: #6ac2bf;
  border-bottom: 2px solid #6ac2bf;
}

.active {
  color: #6ac2bf !important;
  border-bottom: 2px solid #6ac2bf;
}

/* All-task view */
.all-task {
  /* background-color: pink; */
  margin-left: 10px;
}

.all-task .piece {
  /* background-color: pink; */
  height: 200px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.4);
}

.all-task .piece:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.b-red {
  border: 2px solid red;
}

.b-blue {
  border: 2px solid blue;
}

.b-green {
  border: 2px solid green;
}
.task > div {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}



/* starting from here*/
body {
  font-family: 'Poppins', sans-serif;
}

.overlay{
  border: 1px dashed black;
    /* background-color: pink; */
}

.overlay .form-container{
  width: 50%;
  margin: 0 auto;
}
  
.task-1 {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  height: 12.8rem;
  padding: 1.2rem ;
  width: 100%;
  margin-bottom: 3%;
}
  
.box-a1 {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  .task-1 {
    min-height: 400px; /* Adjust the value according to your desired minimum height */
    margin-bottom: 10%;
  }
}
  

.content-a {
  color: #1d2d35;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  max-width: 80%;  /*to set words in only 80% */
}
  
.images-container {
  position: absolute;
  top: 0; /* position to top */
  margin-left: 2%;
  right: 1%; /* position to right */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.images-container img {
  height: 20px; 
  width: 20px;
}
  

.all-task-num {
  padding-left: 15px;
}
  
.fw-bold {
  font-weight: bold;
}
  

.content-b {
  color: #1d2d35;
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.1725;
}

.custom-button {
  background-color: #62B6B7;
  border-color: #62B6B7;
  color: #fff;
  margin-left: 2%;
}
  
.custom-button:hover {
  background-color: #459798;
  border-color: #459798;
}


.show-more {
  position: relative;
}
  
#show-more-text {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
  
#show-more-text:hover {
  color: darkblue;
}

  
section.body-content {
  background-color: #E6ECF0;
  padding: 20px;
  margin: 20px;
  /* min-height: 0px;
  control the #E6ECF0 part */ 
}

.editrow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
}

.editrow>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
  

/* .nav-link {
  padding: 0px 120px;
} */

.card {
  margin: 2em;
}

  /* .hidden {
    display: none;
  } */
  
  

   /* pass */
  /* .tasktop-iiJ {
    background-color: #FFFF00;
    box-sizing: border-box;
    height: 14rem;
    left: 1.2rem;
    padding-bottom: 3.85rem;
    position: absolute;
    top: 0;
    width: 100%;
  } */
  
  /* .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    width: 100%;
  } */
  
  
  /* .title-a1 img {
    margin-right: 0.5rem;
  } */

  /* .title-a1 {
    color: #1d2d35;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.1725;
    white-space: nowrap;
  } */

  
  
/* .title-a1 > span {
    display: flex;
    align-items: center;
  }
  
  .title-a1 img {
    margin-right: 0.5rem;
    height: 1.5rem;
  } */
  
    /* .taskdivider-66a {
        background-color: #e6ecf0;
        height: 0.1rem;
        left: 0;
        position: absolute;
        top: 11.4rem;
        width: 28.7rem;
      } */
   

  /*
  @media (max-width: 768px) {
    .nav-item {
      margin-left: 3em;
    }
  }
  @media (max-width: 576px) {
    .nav-item {
      margin-left: 2em;
    }
  } */

  
/* 
  .task-myx {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
    box-sizing: border-box;
    height: 24rem;
    padding: 1.2rem 0;
    width: 100%;
    }
    
    .auto-group-bapn-nPG {
    height: 14rem;
    position: relative;
    width: 28.7rem;
    }
    
    .tasktop-VHg {
    box-sizing: border-box;
    height: 14rem;
    left: 1.2rem;
    padding-bottom: 3.85rem;
    position: absolute;
    top: 0;
    width: 24.2rem;
    }
    
    .user-research-aK8 {
    align-items: center;
    color: #1d2d35;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.1725;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    width: 100%;
    }
    
    .lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-aenean-commodo-ligula-eget-dolor-aenean-massa-cum-sociis-natoque--Q3G {
    color: #1d2d35;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1725;
    max-width: 24.2rem;
    }
    
    .taskdivider-SEr {
    background-color: #e6ecf0;
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: 11.4rem;
    width: 28.7rem;
    } */
