form {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  /* border: 1px solid #007bff; */
  border-radius: 15px;
  padding: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity as needed */
  z-index: 9999; /* Set a high z-index value to ensure it appears in front of other elements */
}

.form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Set a higher z-index value to ensure it appears in front of other elements */
  background-color: white; /* Adjust background color as needed */
  border-radius: 15px;
  border: 3px solid #CBEDD5;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for a visual effect */
}


@media only screen and (max-width: 768px) {

}

  .title {
    font-size: large;
    font-weight: 700;
    display: inline;
    margin-right: 5px;
  }


label {
  font-weight: bold;
  margin-top: 10px;
}

textarea {
  height: 100px;
}

input[type="date"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"],
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

#progress-dropdown {
  /* margin-left: 10px; */
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}



.close-btn {
  position: relative;
  left: 68%;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #000;
}

.close-btn:hover {
  color: #ff0000;
}

/* Bootstrap classes */

form label,
form input[type="text"],
form textarea,
form input[type="date"],
form select {
  width: 100%;
  max-width: 100%;
}

form input[type="text"],
form textarea,
form input[type="date"],
form select {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form input[type="text"]:focus,
form textarea:focus,
form input[type="date"]:focus,
form select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.markasdone {
  color: #fff;
  background-color: #00C271;
  border-color: #00C271;
  display: block;
  width: 50%;
  max-width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  margin-top: 10px;
}

.markasdone:hover {
  color: #fff;
  background-color: darkgreen;
  border-color: darkgreen;
}

.markasdone:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.delete-btn {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  display: block;
  width: 48%;
  max-width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  margin-top: 10px;
}

.delete-btn:hover {
  color: #fff;
  background-color: #8B0000; /* Darker red color */
  border-color: #8B0000; /* Darker red color */
}

.delete-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}



.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons input[type="submit"] {
  width: 48%;
}




.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}

