<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="Assests/CSS/ejc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <title>To-Do-List</title>
</head>

<body>
    <!-- header for website -->
    <header>
        <nav class="navbar navbar-expand-xxl p-0">
            <div class="container-fluid bg-white fixed-top nav_container">
                <button class="btn_nav" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <i class="uil uil-bars nav_toggler"></i>
                </button>

                <div class="collapse navbar-collapse top_nav" id="collapsibleNavbar">
                    <ul class="navbar-nav gap-lg-3 p-3">
                        <li class="nav-item">
                            <a href="#about_us" class="nav-link">
                                ABOUT US
                            </a>
                        </li>
                        <li class="nav-item dot">
                            <img src="Assests/img/dot.svg" alt="">
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">
                                FEATURES
                            </a>
                        </li>
                        <li class="nav-item dot">
                            <img src="Assests/img/dot.svg" alt="">
                        </li>
                        <a href="#" class="navbar-brand">
                            Tick Tok Tasks
                        </a>
                        <li class="nav-item dot">
                            <img src="Assests/img/dot.svg" alt="">
                        </li>
                        <li class="nav-item">
                            <a href="#team_member" class="nav-link">
                                TEAM MEMBER
                            </a>
                        </li>
                        <li class="nav-item dot">
                            <img src="Assests/img/dot.svg" alt="">
                        </li>
                        <li class="nav-item">
                            <a href="#feedback" class="nav-link">
                                FEEDBACK
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- home section -->
        <section class="home section hidden" id="#home">
            <div class="home-content container-lg">
                <div class="section_container">
                    <div class="home title">
                        <h1>
                            Organize your life with <span>TickTokTasks</span>
                        </h1>
                    </div>
                    <div class="home subtitle">
                        <p>
                            Start Planning Now!
                        </p>
                    </div>
                    <div class="button btn-group-sm gap-5">
                        <button type="button" class="signup btn p-2" onclick="register()">Sign Up</button>
                        <button type="button" class="login btn p-2" onclick="login()">Log In</button>
                    </div>
                </div>
                <div class="home-background-lottie" style="background: url(Assests/img/home.svg) no-repeat;">
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_OMkcKPBoxI.json" mode="bounce" background="transparent"  speed="1"loop autoplay></lottie-player>  
                </div>
            </div>
        </section>

        <!-- about us section -->
        <section class="about_us section" id="about_us">
            <div class="section_container container-sm">
                <div class="title_background">
                    <h1>ABOUT US</h1>
                </div>
                <div class="container content">
                    <div class="text-content">
                        <h2>Welcome to <span>TickTokTasks</span></h2>
                        <p>TickTockTasks is a user-friendly online platform
                            that helps individuals and teams stay organized and
                            productive by managing their tasks and to-do lists.
                            With its simple and intuitive interface, TaskTracker
                            allows users to easily create, organize, and prioritize
                            tasks in order to streamline their workflow and achieve
                            their goals.</p>
                    </div>
                    <img src="Assests/img/intro_about_us_background.svg" alt="">
                </div>
            </div>
        </section>

        <!-- features section -->
        <section class="features section" id="features">
            <div class="section_container container-sm">
                <div class="features_content">
                    <div class="card_container">
                        <div class="feature_card">
                            <i class="uil uil-edit card_icon"></i>
                            <div class="feature_card_body">
                                <h4 class="card_title">Manage your tasks!</h4>
                                <p class="card_text">Manage tasks to be able to view, add edit and delete tasks</p>
                                <a href="#" class="btn">Try it!</a>
                            </div>
                        </div>
                        <div class="feature_card">
                            <i class="uil uil-books card_icon"></i>
                            <div class="feature_card_body">
                                <h4 class="card_title">Categorize your tasks!</h4>
                                <p class="card_text">Categorize tasks based on priority and deadline</p>
                                <a href="#" class="btn">Try it!</a>
                            </div>
                        </div>
                        <div class="feature_card">
                            <i class="uil uil-bell card_icon"></i>
                            <div class="feature_card_body">
                                <h4 class="card_title">Remind your tasks!</h4>
                                <p class="card_text">Set reminder to remind users on the tasks, due date and priority
                                </p>
                                <a href="#" class="btn">Try it!</a>
                            </div>
                        </div>
                        <div class="feature_card">
                            <i class="uil uil-chart card_icon"></i>
                            <div class="feature_card_body">
                                <h4 class="card_title">Visualize your tasks!</h4>
                                <p class="card_text">Using graphs/charts based on priority and deadline</p>
                                <a href="#" class="btn">Try it!</a>
                            </div>
                        </div>
                    </div>
                    <div class="features title">
                        <h1><span>OUR</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FEATURES</h1>
                    </div>
                </div>

            </div>
        </section>

        <!-- team member section -->
        <section class="container-fluid team_member section" id="team_member">
            <div class="member_title_background">
                <h1>MEET OUR MEMBER</h1>
            </div>
            <div class="team_member section d-flex justify-content-center">
                <div class="circular-slider flex-center">
                    <h1 class="member-name active">ENG JUN CHENG</h1>
                    <ul class="wrapper flex-center">
                        <li class="slides" style="--img-no:1;">
                            <img src="Assests/img/profile/HoKaiChong.jpg" alt="">
                        </li>
                        <li class="slides" style="--img-no:2;">
                            <img class="active" src="Assests/img/profile/ENGJUNCHENG.jpg">
                        </li>
                        <li class="slides" style="--img-no:3;">
                            <img src="Assests/img/profile/GengCheng.png" alt="">
                        </li>
                        <li class="slides" style="--img-no:4;">
                            <img src="Assests/img/profile/Chew Kah Chun.jpg" alt="">
                        </li>
                        <li class="slides" style="--img-no:5;">
                            <img src="Assests/img/profile/PangJingShan.jpeg" alt="">
                        </li>
                    </ul>
                    <div class="descriptions">
                        <div class="descriptions_item">
                            <h1>HO KAI CHONG</h1>
                            <p>Multimedia Computing</p>
                            <button type="button">View More</button>
                        </div>
                        <div class="descriptions_item active">
                            <h1>ENG JUN CHENG</h1>
                            <p>Software Engineering</p>
                            <button type="button">View More</button>
                        </div>
                        <div class="descriptions_item">
                            <h1>TAN GENG CHENG</h1>
                            <p>Multimedia Computing</p>
                            <button type="button">View More</button>
                        </div>
                        <div class="descriptions_item">
                            <h1>CHEW KAH CHUN</h1>
                            <p>Software Engineering</p>
                            <button type="button">View More</button>
                        </div>
                        <div class="descriptions_item">
                            <h1>PANG JING SHAN</h1>
                            <p>Software Engineering</p>
                            <button type="button">View More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- when the screen width change to medium display this -->
            <div class="small_screen">
                <div class="container swiper mySwiper member-swiper">
                    <div class="comet swiper-wrapper member-wrapper mb-5">
                        <div class="card d-flex justify-content-center swiper-slide member" style="width: 60%;">
                            <img src="Assests/img/profile/HoKaiChong.jpg" class="card-img-top" alt="" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">HO KAI CHONG</h4>
                                <p class="card-text">Multimedia Computing</p>
                                <a href="#" class="btn">View more</a>
                            </div>
                        </div>
                        <div class="card d-flex justify-content-center swiper-slide member" style="width: 60%;">
                            <img src="Assests/img/profile/ENGJUNCHENG.jpg" class="card-img-top" alt="" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">ENG JUN CHENG</h4>
                                <p class="card-text">Software Engineering</p>
                                <a href="#" class="btn">View more</a>
                            </div>
                        </div>
                        <div class="card d-flex justify-content-center swiper-slide member" style="width: 60%;">
                            <img src="Assests/img/profile/GengCheng.png" class="card-img-top" alt="" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">TAN GENG CHENG</h4>
                                <p class="card-text">Multimedia Computing</p>
                                <a href="#" class="btn">view more</a>
                            </div>
                        </div>
                        <div class="card d-flex justify-content-center swiper-slide member" style="width: 60%;">
                            <img src="Assests/img/profile/Chew Kah Chun.jpg" class="card-img-top" alt="" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">CHEW KAH CHUN</h4>
                                <p class="card-text">Software Engineering</p>
                                <a href="#" class="btn">View more</a>
                            </div>
                        </div>
                        <div class="card d-flex justify-content-center swiper-slide member" style="width: 60%;">
                            <img src="Assests/img/profile/PangJingShan.jpeg" class="card-img-top" alt="" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">PANG JING SHAN</h4>
                                <p class="card-text">Software Engineering</p>
                                <a href="#" class="btn">View more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <!-- feedback section -->
        <section class="feedback section" id="feedback">
            <div class="title_background">
                <h1>FEEDBACK</h1>
            </div>
            <div class="container-sm d-flex justify-content-center feedback_content">
                <div class="swiper mySwiper testimonial">
                    <div class="swiper-wrapper testimonial">
                        <div class="swiper-slide testimonial content">
                            <div class="testimonial_data">
                                <div class="testimonial_header">
                                    <img src="Assests/img/temp.jpg" alt="" class="testimonial_img">

                                    <div>
                                        <h3 class="testimonial_name">Sara Smith</h3>
                                        <span class="testimonial_client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial_description">I get a good impression, I carry out my project with
                                effort. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quae et nostrum 
                                vel sint unde qui ducimus. Illum maxime iusto mollitia architecto, excepturi non sequi 
                                nostrum provident autem possimus fuga!</p>
                        </div>
                        <div class="swiper-slide testimonial content">
                            <div class="testimonial_data">
                                <div class="testimonial_header">
                                    <img src="Assests/img/temp.jpg" alt="" class="testimonial_img">

                                    <div>
                                        <h3 class="testimonial_name">Sara Smith</h3>
                                        <span class="testimonial_client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial_description">I get a good impression, I carry out my project with
                                effort.</p>
                        </div>
                        <div class="swiper-slide testimonial content">
                            <div class="testimonial_data">
                                <div class="testimonial_header">
                                    <img src="Assests/img/temp.jpg" alt="" class="testimonial_img">

                                    <div>
                                        <h3 class="testimonial_name">Sara Smith</h3>
                                        <span class="testimonial_client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial_description">I get a good impression, I carry out my project with
                                effort.</p>
                        </div>
                        <div class="swiper-slide testimonial content">
                            <div class="testimonial_data">
                                <div class="testimonial_header">
                                    <img src="Assests/img/temp.jpg" alt="" class="testimonial_img">

                                    <div>
                                        <h3 class="testimonial_name">Sara Smith</h3>
                                        <span class="testimonial_client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial_description">I get a good impression, I carry out my project with
                                effort.</p>
                        </div>
                        <div class="swiper-slide testimonial content">
                            <div class="testimonial_data">
                                <div class="testimonial_header">
                                    <img src="Assests/img/temp.jpg" alt="" class="testimonial_img">

                                    <div>
                                        <h3 class="testimonial_name">Sara Smith</h3>
                                        <span class="testimonial_client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                    <i class="uil uil-star testimonial_icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial_description">I get a good impression, I carry out my project with
                                effort.</p>
                        </div>
                    </div>
                    <div class="swiper-button-next" style="color: #439A97;"></div>
                    <div class="swiper-button-prev" style="color: #439A97;"></div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer container-fluid">
        <div class="footer-content container-sm">
            <div class="footer-top container-sm">
                <div class="footer-title">
                    <h1>TickTokTasks</h1>
                    <div>UNIVERSITY MALAYA, KL</div>
                    <div class="useful-link mt-2 mb-4">
                        <a href="#about_us"><i class="uil uil-apps"></i>About Us</a>
                        <a href="#features"><i class="uil uil-info-circle"></i>Feature</a>
                        <a href="#team_member"><i class="uil uil-users-alt"></i>Our Team</a>
                        <a href="#feedback"><i class="uil uil-feedback"></i>Feedback</a>
                    </div>
                </div>
                <form action="">
                    <label for="email" class="mb-2">Sign up for more details</label>
                    <input type="email" name="email" id="email" class="mb-2" placeholder="abc@gmail.com">
                    <input type="submit" value="Submit" id="form-button" class="btn-form" onclick="register()">
                </form>
            </div>
            <hr>
            <div class="footer-bottom">
                <p class="footer-copy">&#169; All right are reserved</p>
                <div class="follow-us">
                    <a href=""><i class="uil uil-facebook"></i></a>
                    <a href=""><i class="uil uil-linkedin"></i></a>
                    <a href=""><i class="uil uil-whatsapp"></i></a>
                    <a href=""><i class="uil uil-instagram"></i></a>
                </div>
            </div>
        </div>
        
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="Assests/JS/juncheng.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- adding lottie files javascript -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper.member-swiper", {
            effect: "cards",
            grabCursor: true,
        });
        var swiper = new Swiper(".mySwiper.testimonial", {
            loop: true,
            spaceBetween: 48,

            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
        });
    </script>

</body>

</html>