<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TickTockTasks</title>
    <link rel="stylesheet" href="Assests/CSS/login.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="sign-in">
        <div class="content">
            <h1 class="title">TickTockTasks</h1>
            <p>Hey, Welcome Back<br>TickTokTasks</p>
            <form action="" id="sign-up-form">
                <input type="email" class="user-input" placeholder="Email Address">
                <input type="password" class="user-input" name="password" id="password" placeholder="Password">
                <a href="#" id="forgot-password">Having trouble in sign in?</a>
                <input type="button" id="signin" class="btn" onclick=" SignInSuccess()" value="Sign In"></input>
            </form>
            <hr>
            <p class="small-text">Don't have an account? <a href="signup.html">Request Now</a></p>
        </div>
    </div>

    <div class="footer">
        Copyright @ToDoList 2022 | Privacy Policy
    </div>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_x4nau02e.json" class="lottie" background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
     <!-- JavaScript -->
     <script src="Assests/JS/tgc.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>