<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="Assests/CSS/settings.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/10eadcceed.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <section class="sidebar d-none d-md-block min-vh-100 col-auto position-fixed">
            <a href="home.html" class="logo">
                <h4>TicktokTask</h4>
            </a>
            <ul class="sidemenu">
            <li>
                <a href="home.html">
                    <i class="fa-solid fa-house"></i>
                    <span class="text">Home</span>
                </a>
            </li>
              <li>
                <a href="task to do.html">
                    <i class="fa-solid fa-list"></i>
                    <span class="text">Task</span>
                </a>
            </li>
              <li>
                <a href="calendar.html">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="text">Calendar</span>
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <i class="fa-solid fa-user"></i>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li>
                <a href="settings-general.html" class="sidebar-active">
                    <i class="fa-solid fa-gear"></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="about us.html">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span class="text">About Us</span>
                </a>
            </li>
        </ul>
        </section>
        <div class="bg-semidark d-md-none"></div>
        <!-- SideNavBar -->
    

        <section class = "main container-sm col content">
            <main>
                <!-- Top -->
                <div class="top d-md-none ">
                    <a href="#" > 
                        <div class="toggle-nav-btn ">
                            <i class="fa-solid fa-bars fa-xl"></i>
                        </div>
                    </a>
                    <a href="#">
                        <h4 class="logo-top">TiktokTask</h4>
                    </a>
                </div>
                 <!-- Top -->
                <div >
                    <div class="top-title">
                        <h1 class="title">Settings</h1>
                        <button id="submit-form" class="btn">Save</button>
                    </div>
                    <nav class="navbar navbar-expand-sm">
                        <div class="container-fluid page-nav">
                          <div class="navbar-expand">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link" href="settings-general.html">General</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="settings-advanced.html">Advanced</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Extensions</a>
                              </li>  
                            </ul>
                          </div>
                        </div>
                      </nav>
                      
                      <div class="container-fluid mt-3 settings-content">
                        <h3>General Settings</h3>
                        <p>Date & Time</p>
                        <form action="" id="general-settings" class="d-grid">
                            <!-- Time Zone -->
                            <label for="time-zone">Time Zone</label>
                            <select name="time-zone" id="time_zone">
                                <option value="+GMT 08">Malaysia</option>
                            </select>
                            <!--  -->
                            <label for="time-format">Time Format</label>
                            <select name="time-format" id="time-format">
                                <option value="+2400">24 Hours</option>
                                <option value="+1200">12 Hours</option>
                            </select>
                            <label for="date-format">Date Format</label>
                            <select name="date-format" id="date-format">
                                <option value="DDMMYYYY">DD-MM-YYYY</option>
                                <option value="MMDDYYYY">MM-DD-YYYY</option>
                            </select>
                            <label for="week-start">Week start</label>
                            <select name="week-start" id="week-start">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                            <label for=""></label>
                        </form>
                      </div>
                </div>
            </main>
        </section>
    </div>

    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/boot
    strap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+
    1p" crossorigin="anonymous">
    </script><script src = "Assests/JS/ckc.js"> </script>
</body>
</html>