<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TickTockTasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="Assests/CSS/hkc.css">
    <script src="https://kit.fontawesome.com/10eadcceed.js" crossorigin="anonymous"></script>
</head>
<body >
    <div class="row">
        
    <!-- SideNavBar -->
    <section class="sidebar d-none d-md-block min-vh-100 col-auto position-fixed">
        <a href="home.html" class="logo">
            <h4>TickTokTasks</h4>
        </a>
        <ul class="sidemenu">
            <li>
                <a href="home.html">
                    <i class="fa-solid fa-house"></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="task to do.html" class="sidebar-active">
                    <i class="fa-solid fa-list"></i>
                    <span class="text">Task</span>
                </a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="text">Calendar</span>
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <i class="fa-solid fa-user"></i>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li>
                <a href="settings-general.html">
                    <i class="fa-solid fa-gear"></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="about us.html">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span class="text">About Us</span>
                </a>
            </li>
        </ul>
    </section>
        <div class="bg-semidark d-md-none"></div>
    <!-- SideNavBar -->


        <section class="main container-sm col">
            <!-- Top -->
                <div class="top d-md-none ">
                    <a href="#" > 
                        <div class="toggle-nav-btn ">
                            <i class="fa-solid fa-bars fa-xl"></i>
                        </div>
                    </a>
                    <a href="#">
                        <h4 class="logo-top">TiktokTask</h4>
                    </a>
                </div>
            <!-- Top -->

            <!-- Head -->
            <div class="head">
                <h1>Task Review</h1>
                <div class="search">
                    <input type="text" placeholder="search" class=""> 
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <span class="text-muted">Today, 8 April 2023</span>
            </div>
            <!-- Head -->

            <!-- NavBar -->
            <nav class="navbar navbar-expand-sm ">
                <div class="container-fluid">
                    <ul class="navbar-nav bottom-line">
                        <li class="nav-item ">
                    <a class="nav-link" href="task to do.html">To-Do</a>
                        </li>
                        <li class="nav-item">
                    <a class="nav-link" href="task in progress.html">In-progress</a>
                        </li>
                        <li class="nav-item">
                    <a class="nav-link" href="task to complete.html">Completed</a>
                        </li>
                        <li class="nav-item">
                    <a class="nav-link active" href="task_review.html" active="active" >All Task</a>
                        </li>
                        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Filter</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Priority</a></li>
                        <li><a class="dropdown-item" href="#">Deadline</a></li>
                    </ul>
                        </li>
                        </ul>
                </div>
            </nav>
            <!-- NavBar -->
            
            

            <section class="body-content">
            <!-- All-Task-->
            <div class="all-task">
                <p class="all-task-num fw-bold px-2">Total Task: 15</p>
                <div class="task row ">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-red m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Web Design</h4></li>
                                <li><span class="badge bg-danger">To-Do</span> </li>
                                <li>Priority:3/3</li>
                                <li>Deadline:14/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-blue m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Prototype</h4></li>
                                <li><span class="badge bg-primary">In-progress</span> </li>
                                <li>Priority:2/3</li>
                                <li>Deadline:10/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-green m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Lab Viva</h4></li>
                                <li><span class="badge bg-success">Completed</span> </li>
                                <li>Priority:1/3</li>
                                <li>Deadline:6/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-red m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Web Design</h4></li>
                                <li><span class="badge bg-danger">To-Do</span> </li>
                                <li>Priority:3/3</li>
                                <li>Deadline:14/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-blue m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Prototype</h4></li>
                                <li><span class="badge bg-primary">In-progress</span> </li>
                                <li>Priority:2/3</li>
                                <li>Deadline:10/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-green m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Lab Viva</h4></li>
                                <li><span class="badge bg-success">Completed</span> </li>
                                <li>Priority:1/3</li>
                                <li>Deadline:6/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-red m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Web Design</h4></li>
                                <li><span class="badge bg-danger">To-Do</span> </li>
                                <li>Priority:3/3</li>
                                <li>Deadline:14/4/2023</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="piece d-flex flex-nowrap b-blue  m-auto">
                            <ul class="d-flex flex-column justify-content-around ">
                                <li class="pt-2"><h4 class="text-truncate p-1 fw-bold">Prototype</h4></li>
                                <li><span class="badge bg-primary">In-progress</span> </li>
                                <li>Priority:2/3</li>
                                <li>Deadline:10/4/2023</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All-Task-->
            
            <!-- Progress -->
            <div class="task-progress mt-4">
                <h3>Task Progress Review</h3>
                <div class="row mt-4">
                    <div class="task-total-num col-xl-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="all-num num-piece d-flex flex-column justify-content-around text-center pt-3">
                                        <h3 class="fs-1 fw-bold">8</h3>
                                        <p class="fw-bold">All Task</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="all-num num-piece d-flex flex-column justify-content-around text-center pt-3">
                                        <h3 class="fs-1 fw-bold text-danger">3</h3>
                                        <p class="fw-bold text-danger">To-Do</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="all-num num-piece d-flex flex-column justify-content-around text-center pt-3">
                                        <h3 class="fs-1 fw-bold text-primary">3</h3>
                                        <p class="fw-bold text-primary">In-Progress</p>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="all-num num-piece d-flex flex-column justify-content-around text-center pt-3">
                                        <h3 class="fs-1 fw-bold text-success">2</h3>
                                        <p class="fw-bold text-success">Completed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pie-chart col-xl-6 ">
                        <div class="pie-col d-flex flex-column justify-content-around">
                            <div class="chart">

                            </div>
                            <div class="d-flex justify-content-around">
                                <span class="text-danger fw-bold">• To-Do</span>
                                <span class="text-primary fw-bold">• In-Progress</span>
                                <span class="text-success fw-bold">• Completed</span>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- Progress -->


            <!-- completion-rate -->
            <div class="completed-rate mt-4">
                <h3>Completion-Rate Review</h3>
                <div class="time-range">
                    <div class="row mt-4 p-0 ">
                        From
                        <input class="from-date" type="date">
                        To
                        <input class="end-date" type="date">
                        <button class="analysis ">Analysis</button>
                    </div>
                </div>
                <div class="prio-chart row mt-4 mb-5">
                    <div class="col d-flex flex-column justify-content-around p-1 text-center">
                        <div class="prio-high w">
                            <h1 class="percentage">15%</h1>
                        </div>
                        <span class="badge bg-danger">High-Priority</span>
                    </div>
                    <div class="col d-flex flex-column justify-content-around p-1 text-center">
                        <div class="prio-middle w">
                            <h1 class="percentage">50%</h1>
                        </div>
                        <span class="badge bg-warning">Middle-Priority</span>
                    </div>
                    <div class="col d-flex flex-column justify-content-around p-1 text-center">
                        <div class="prio-low w">
                            <h1 class="percentage">87%</h1>
                        </div>
                        <span class="badge bg-success">Low-Priority</span>
                    </div>
                </div>
                
            </div>
            <!-- completion-rate -->


            </section>

        </section>
    </div>
 </div>
</div>


    

  
    <script>

        //collapse-side-nav-btn
        var toggle_side_btn = document.querySelector('.toggle-nav-btn');
        var sidebar = document.querySelector('.sidebar');
        var bg_semidark = document.querySelector('.bg-semidark');
 
        toggle_side_btn.onclick = function(){
            sidebar.className = "sidebar d-block min-vh-100 col-auto position-fixed sidebar-show";
            bg_semidark.style.display = 'block'
            bg_semidark.onclick = function(){
                this.style.display = "none";
                sidebar.className = "sidebar d-none d-md-block min-vh-100 col-auto position-fixed";
            }

            const auto_close_sideNav = window.matchMedia('(min-width: 767px)');
            function close(e){
                if(e.matches){
                     sidebar.className = "sidebar d-none d-md-block min-vh-100 col-auto position-fixed";
                     bg_semidark.style.display = 'none';
                }
            }
            auto_close_sideNav.addListener(close);
            close(auto_close_sideNav);
        }

         //collapse-side-nav-btn

  

    </script>

    
</body>
</html>